.vs/invetario-ScanDent.slnx/FileContentIndex/4e7bf7ba-c98b-4440-93be-8ea72118a678.vsidx
.vs/invetario-ScanDent.slnx/FileContentIndex/4e7bf7ba-c98b-4440-93be-8ea72118a678.vsidx
*.vsidx
.vs/invetario-ScanDent.slnx/FileContentIndex/4e7bf7ba-c98b-4440-93be-8ea72118a678.vsidx
.vs/invetario-ScanDent.slnx/FileContentIndex/59a41e8d-22c6-4ce3-b3c8-8d1ca93a2668.vsidx
